{
    attributes = (
        {columnName = acronym; name = acronym; prototypeName = varchar10; }, 
        {columnName = address; name = address; prototypeName = varchar100; }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {columnName = name; name = name; prototypeName = varchar100; }
    ); 
    attributesUsedForLocking = (acronym, address, id, name); 
    className = "your.app.model.Customer"; 
    classProperties = (acronym, address, name, products, projects); 
    externalName = Customer; 
    fetchSpecificationDictionary = {}; 
    name = Customer; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = CustomerProduct; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = customerID; sourceAttribute = id; }); 
            name = customerProducts; 
            propagatesPrimaryKey = Y; 
        }, 
        {definition = "customerProducts.product"; name = products; }, 
        {
            destination = Project; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = customerID; sourceAttribute = id; }); 
            name = projects; 
        }
    ); 
}
